[submodule "firmware/lib/TFT_ST7735"]
	path = firmware/lib/TFT_ST7735
	url = git@github.com:sumotoy/TFT_ST7735.git
	branch = 1.0p1
[submodule "firmware/lib/PCF8574_ESP"]
	path = firmware/lib/PCF8574_ESP
	url = git@github.com:WereCatf/PCF8574_ESP.git
[submodule "firmware/src/serial-term"]
	path = firmware/src/serial-term
	url = git@github.com:eni23/serial-term.git
